@font-face {
  font-family: "klavika";
  src: url("fonts/Klavika-Light.otf");
  }



html{

}

body{
      height: 100%;
      font-family: "klavika";
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      line-height: 1.25;
      color: rgb(55,71,79);
}

input {
    background: transparent;
    border: 1px solid rgb(192, 192, 192);
    border-top-color: rgb(192, 192, 192);
    border-right-color: rgb(217, 217, 217);
    border-bottom-color: rgb(217, 217, 217);
    border-left-color: rgb(217, 217, 217);

    color: #37474F;
    font-family: "klavika";
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    height: 22px;
    line-height: 1.25;
    padding: 2px 2px 0;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}



::-webkit-input-placeholder {
    color: #37474f;
    font-style: italic;
    opacity: 0.5;
}

::-moz-placeholder {
    color: #37474f;
    font-style: italic;
    opacity: 0.5;

}

:-ms-input-placeholder {
    color: #37474f;
    font-style: italic;
    opacity: 0.5;

}

/* MENU PANEL */

.menuPanel_outer{
    padding-left: 75px;
    padding-right: 75px;
    border-bottom: 1px solid white;
}

.menuPanel_outer_shadow{
    border-bottom: 1px solid rgb(245,245,245);
}


.menuPanel_inner{
    width:100%;
}

.menuItem{
    margin-right:40px;
    font-size: 22px;
    letter-spacing: 1.2px;
}

.menuItem_active{
}

.menuItem_passive{
    opacity: 0.5;
}

.menuItem_passive:hover{
    cursor:pointer;
    opacity:1;
}

.menuPanel_secondaryPanel{
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;

    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
}

.menuItem_secondary{
    padding-top: 6px;
    padding-left: 25px;
    color: #3B9EBF;
    opacity: 0.5;
    font-size: 14px;

}

.menuItem_secondary:hover{
    cursor:pointer;
    opacity: 1;
}


/* */

.tournamentContext_scrollPanel{
    padding-left: 100px;
    padding-right: 100px;
}


/* TEAMS PAGE */

.teamsPage{
    padding-top: 50px;
    padding-bottom: 0px;
}


.teamsRow{
    width: 320px;
    top: 0;
    left: 0;
    position: absolute;

    -webkit-transition: top 0.25s linear, left 0.25s linear;
    -moz-transition: top 0.25s linear, left 0.25s linear;
    transition: top 0.25s linear, left 0.25s linear;
}

.teamsRow_seeding{
    border: none;
    font-size: 10px;
    width: 20px;
    opacity: 0.5;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.teamsRow_seeding:hover{
    /*cursor:pointer;
    color: #3B9EBF;
    opacity: 1;
    */
}

.teamsRow_seeding_focus{
    color: #3B9EBF;
    opacity: 1;
}

.teamsRow_focusIndicator{
    position: absolute;
    left: -15px;
    top: 8px;
    height: 6px;
    width: 6px;
    background-color: lightblue;
    border-radius: 3px;
}



.teamsRow_deleteIcon{
    position: absolute;
    left: 26px;
    top: 6px;
    font-size:10px;
    cursor: pointer;
    opacity: 0.5;
}




.teamsRow_deleteIcon:hover{
    color: #3B9EBF;
    opacity:1;
    cursor:pointer;
}




.teamsRow_team{
    padding-left: 20px;
    border: none;
    font-size: 16px;

    flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
}

.enterTeam{
    top: 0;
    left: 0;

    -webkit-transition: top 0.25s linear, left 0.25s linear;
    -moz-transition: top 0.25s linear, left 0.25s linear;
    transition: top 0.25s linear, left 0.25s linear;


    position: absolute;
    padding-left: 40px;
    width: 320px;
    height:40px;
}

.enterTeam input{
    border: none;
    font-size: 16px;
    width:200px;
    margin-left:-2px;
}

.enterTeam_addButton{
    z-index:10;
    margin-left:20px;
}


/*
    SETTINGS PAGE
*/

.settingsPage{
    padding-top:38px;
}


.levelComponent_innerPanel{
    border: 2px solid #73BCD4;
    border-radius: 5px 5px 5px 5px;
    height: 0px;
    position: relative;
    width: 0px;
    -webkit-transition: width 0.25s linear, height 0.25s linear;
    -moz-transition: width 0.25s linear, height 0.25s linear;
    transition: width 0.25s linear, height 0.25s linear;
}

.levelComponent_mouseOver{
    cursor: pointer;
}


.levelComponent_innerPanel_edit{
    background: #73BCD4;
    border-radius: 5px 5px 5px 5px;
}

.levelComponent_innerPanel_edit .levelComponent_name{
    color: white;
}


.level_deleteIcon{
    cursor: pointer;
    font-size: 10px;
    height: 20px;
    left: 84px;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    width: 20px;
}

.level_deleteIcon:hover{
    color: #3B9EBF;
    opacity:1;
    cursor:pointer;
}


.beginComponent_innerPanel{
    border: 2px solid #73BCD4;
    border-radius: 30px 5px 5px 30px;
    height: 50px;
    width: 55px;
}

.endComponent_innerPanel{
    border: 2px solid #73BCD4;
    border-radius: 5px 30px 30px 5px;
    height: 50px;
    width: 55px;
}


.levelComponent_ear{
    height:8px;
    width: 3px;
    background-color: #73BCD4;
}

.levelComponent_leftEar{
    border-radius: 8px 0 0 8px;
    margin-right:-2px;
}

.levelComponent_rightEar{
    border-radius: 0px 8px 8px 0px;
    margin-left:-2px;
}

.allEmpty_Component_innerPanel{
    border-color: transparent;
    background-color:transparent;
    width:40px;
}


.levelComponent_allEmpty{
    border-color: transparent;
    background-color:transparent;
}

.levelComponent_beginArrow{
     width:0;
         height:0;
         border-left:8px solid #73BCD4;
         border-top:4px solid transparent;
         border-bottom:4px solid transparent;
         margin-right: -2px;
         margin-left:-1px;
}

.levelComponent_sep{
    height: 2px;
    width: 20px;
    background-color: #73BCD4;

    -webkit-transition: width 0.25s linear;
    -moz-transition: width 0.25s linear;
    transition: width 0.25s linear;
}

.levelComponent_name{
    text-align: center;
    color: #4CA9C8;
    font-size:16px;
}


.addSettingsDropDown{
    border: 1px solid rgba(55,71,79, 0.5);
    background-color:white;
}

.addSettingsDropDown_innerPanel{
    width:180px;
}


.addSettingsDropDown_item{
    font-size: 16px;
    width: 100%;
}

.addSettingsDropDown_item:hover{
    background-color: lightblue;
    cursor: pointer;
}


.addSettingsDropDown_item div{
    padding: 10px;
    padding-bottom:6px;
}

.groupSettingsPanel{
}

.knockoutSettingsPanel{
}

.emptyLine{
    height: 15px;
}

.dialogVPanel {
  margin: 5px; }

.imageFront {
  vertical-align: bottom; }

.searchPopup {
  border-left: solid blue 2px; }

.subpage {
  height: 100%;
  -moz-box-shadow: 4px 4px 5px #d2d8d5;
  -webkit-box-shadow: 4px 4px 5px #d2d8d5;
  box-shadow: 4px 4px 5px #d2d8d5; }

.shadow {
  -moz-box-shadow: 4px 4px 5px #d2d8d5;
  -webkit-box-shadow: 4px 4px 5px #d2d8d5;
  box-shadow: 4px 4px 5px #d2d8d5; }

.shadowreset {
  -moz-box-shadow: 0px 0px 0px; }

.overlay {
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 0px; }

.gwt-Button {
  white-space: nowrap;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: solid 1px #b7b7b7;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
  background: -moz-linear-gradient(top, white, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#ededed'); }

.gwt-Button:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(gainsboro));
  background: -moz-linear-gradient(top, white, gainsboro);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#dcdcdc'); }

.gwt-Button:active {
  color: #999999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(white));
  background: -moz-linear-gradient(top, #ededed, white); }

.colorbutton, .colorbutton:link {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(center top, #1d9cd3, #29abe2) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#1d9cd3), to(#29abe2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#1D9CD3', endColorstr = '#29ABE2');
  color: #151515;
  display: inline-block;
  font-size: 22px;
  padding: 10px;
  border: 1px solid black; }

.colorbutton:hover, .colorbutton:visited {
  background: none repeat scroll 0 0 #29abe2;
  color: white;
  cursor: pointer; }

.colorbuttonhelp, .colorbuttonhelp:link {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(center top, #29abe2, #29abe2) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#29abe2), to(#29abe2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#29ABE2', endColorstr = '#29ABE2');
  color: #151515;
  display: inline-block;
  font-size: 22px;
  padding: 10px;
  border: 1px solid black; }

.colorbuttonhelp:hover, .colorbuttonhelp:visited {
  background: none repeat scroll 0 0 #29abe2;
  color: white;
  cursor: pointer; }

.colorbutton2, .colorbutton2:link {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(center top, #29abe2, #29abe2) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#29abe2), to(#29abe2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#29ABE2', endColorstr = '#29ABE2');
  color: white;
  display: inline-block;
  font-size: 22px;
  padding: 15px;
  font-weight: bold;
  text-decoration: underline;
  border: 2px solid black; }

.colorbutton2:hover, .colorbutton2:visited {
  background: none repeat scroll 0 0 #29abe2;
  color: white;
  cursor: pointer; }

.buttoncell {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: black 0 1px 0;
  -moz-box-shadow: black 0 1px 0;
  box-shadow: black 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: klavika;
  text-decoration: none;
  vertical-align: middle; }

.buttoncell:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #cccccc; }

.buttoncell:active {
  border-top-color: #1b435e;
  background: #1b435e; }

.floatleft {
  float: left; }

.colorbutton3, .colorbutton3:link {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(center top, #3B9EBF, #3B9EBF) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#3B9EBF), to(#3B9EBF));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#3B9EBF', endColorstr = '#3B9EBF');
  color: white;
  display: inline-block;
  font-size: 24px;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 6px;
  font-family: klavika;
  border: 1px solid #358EAC;
  border-radius: 2px;
}

.colorbutton3:hover, .colorbutton3:visited {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }



.buttonsPanel{
    padding-top:40px;
}


.primaryButton, .primaryButton:link {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(center top, #3B9EBF, #3B9EBF) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#3B9EBF), to(#3B9EBF));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#3B9EBF', endColorstr = '#3B9EBF');
  color: white;
  display: inline-block;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 3px;
  font-family: klavika;
  border: 1px solid #0097BF;
  border-radius: 2px;
  white-space: nowrap;
  z-index: 20;
}

.primaryButton:hover, .primaryButton:visited {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }

.primaryButton:active{
 -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 }


.secondaryButton, .secondaryButton:link {
  color: #3B9EBF;
  display: inline-block;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3px;
  font-family: klavika;
  border: 1px solid transparent;
  border-radius: 2px;
  white-space: nowrap;
}

.secondaryButton:hover{
    cursor:pointer;
    text-decoration: underline;
}



.colorbutton4, .colorbutton4:link {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(center top, #29abe2, #1d9cd3) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#29abe2), to(#1d9cd3));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#29ABE2', endColorstr = '#1D9CD3');
  color: #1f1f1f;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  font-family: klavika;
  border: 1px solid #1a8cbc;
  white-space: nowrap; }

.colorbutton4:hover, .colorbutton4:visited {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #146a90; }

.lineShadow {
  -webkit-box-shadow: 0 8px 16px -6px black;
  -moz-box-shadow: 0 8px 16px -6px black;
  box-shadow: 0 8px 16px -6px black; }

.shadowFrontPage {
  -moz-box-shadow: 5px 5px 5px #cccccc;
  -webkit-box-shadow: 5px 5px 5px #cccccc;
  box-shadow: 5px 5px 5px #cccccc; }

.sloganPage {
  border-top: 1px solid #f2f2f2;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(white));
  background: -webkit-linear-gradient(top, #fafafa, white);
  background: -moz-linear-gradient(top, #fafafa, white);
  background: -ms-linear-gradient(top, #fafafa, white);
  background: -o-linear-gradient(top, #fafafa, white); }

.topPanel {
  height: 75px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e8e8e8), to(#dbdbdb));
  background: -webkit-linear-gradient(top, #e8e8e8, #dbdbdb);
  background: -moz-linear-gradient(top, #e8e8e8, #dbdbdb);
  background: -ms-linear-gradient(top, #e8e8e8, #dbdbdb);
  background: -o-linear-gradient(top, #e8e8e8, #dbdbdb);
  border-bottom: 1px solid #c8c8c8; }

.matchView {
  position: relative;
  margin: 20px;
  width: 240px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3d3d3d), to(#333333));
  background: -webkit-linear-gradient(top, #3d3d3d, #333333);
  background: -moz-linear-gradient(top, #3d3d3d, #333333);
  background: -ms-linear-gradient(top, #3d3d3d, #333333);
  background: -o-linear-gradient(top, #3d3d3d, #333333);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18); }

.groupTable {
  margin: 20px;
  border: 1px solid #4d4d4d;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18); }

.groupHeaderRow {
  border: 1px solid #c1c1c1;
  color: white;
  background-color: black; }

.groupTitleRow {
  width: 100%;
  color: #29abe2;
  background-color: black; }

.triangle-right {
  border-color: transparent transparent transparent #29abe2;
  border-style: solid;
  border-width: 20px;
  height: 0;
  width: 0;
  margin-left: 5px;
  margin-right: -15px; }

.bottomImage {
  overflow: hidden;
  position: fixed;
  right: 60px;
  bottom: 0px;
  z-index: 100000;
  background-image: url("img/logoSmall.png");
  height: 24px;
  width: 105px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

.viewTeamsPanel_teams {
  width: 100%; }

.viewTeamsPanel_team {
  padding: 2px 0px 2px 0px;
  margin: 0px 20px 0px 40px; }


.frontPage{
   display: -ms-flexbox;      /* TWEENER - IE 10 */
   display: -webkit-flex;     /* NEW - Chrome */
   display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

   flex-direction: column;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
}


.shadow2{
-webkit-box-shadow: inset 0px 5px 5px -5px rgba(150, 150, 150, 0.15);
-moz-box-shadow:    inset 0px 5px 5px -5px rgba(150, 150, 150, 0.15);
box-shadow:         inset 0px 5px 5px -5px rgba(150, 150, 150, 0.15);
}

.logo{
    padding: 20px;
    padding-top: 30px;

    width: 900px;
    margin: auto;
    font-size: 22px;
}

.logoRight{
    color: #C9C9C9;
}

.logoLeft{
    color: lightblue;
}


.frontPage_createTournamentPanel{
    padding:20px;
    padding-top:125px;
    padding-bottom:200px;
    text-align: center;
    width:900px;
    margin: auto;
}

.frontPage_createTournamentPanel_title{
    font-size: 48px;
    padding-bottom: 20px;
}


.frontPage_createTournamentPanel_noAccountLabel{
    font-size: 14px;
    padding-top: 6px;
    color: #999999;
}


.frontPage_slogans{
    border-top: 1px solid #f2f2f2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(white));
    background: -webkit-linear-gradient(top, #fafafa, white);
    background: -moz-linear-gradient(top, #fafafa, white);
    background: -ms-linear-gradient(top, #fafafa, white);
    background: -o-linear-gradient(top, #fafafa, white);
    padding: 20px;
    padding-top: 40px;
}


.slogan{
    margin: auto;
    width: 900px;
    margin: auto;
}

.slogan_header{
    font-size: 28px;
}

.slogan_text{
    color: #8E8E8E;
    font-size: 18px;
    text-align: justify;
    padding-bottom: 30px;
}



.share_url {
  -moz-box-shadow: inset 1px 0px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 0px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 0px 0px 0px rgba(0, 0, 0, 0.2); }

.bookmarkAdvice {
  overflow: hidden;
  position: fixed;
  left: 20px;
  bottom: 0px;
  z-index: -1;
  background-color: white; }

.startImage {
  cursor: pointer;
  width: 128px;
  height: 128px;
  position: fixed;
  padding-left: 40px;
  padding-top: 40px; }

.startLabel {
  opacity: 1;
  cursor: pointer; }

.resultContainer {
  top: 0px;
  right: 0px;
  text-align: right;
  background-color: yellow;
  position: relative; }

.fieldBanner {
  font-family: klavika;
  height: 14px;
  overflow: hidden;
  position: absolute;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  top: -12px;
  left: 170px;
  text-align: center;
  z-index: 130;
  background-color: orange; }

.notFinishedMathesTopLine {
  position: fixed;
  top: 0;
  right: 0px;
  height: 1px;
  width: 404px;
  border-top: 1px solid gray;
  color: #979797;
  font-family: klavika, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.25;
  -webkit-transition: top 3s ease-in-out;
  -moz-transition: top 3s ease-in-out;
  -o-transition: top 3s ease-in-out;
  transition: top 3s ease-in-out; }

.matchesPlayedPanel {
  position: fixed;
  top: 0;
  padding-top: 15px;
  padding-left: 4px;
  right: 0px;
  width: 414px;
  z-index: 1000000;
  background-color: black;
  font-family: klavika, Arial, Helvetica, sans-serif;
  font-size: 38px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.25;
  color: white;
  border-bottom: 1px solid #333333; }

.aMatchView {
  position: fixed;
  top: 0;
  right: 0px;
  height: 40px;
  width: 400px;
  white-space: nowrap;
  color: #979797;
  font-family: klavika, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.25;
  -webkit-transition: top 3s ease-in-out;
  -moz-transition: top 3s ease-in-out;
  -o-transition: top 3s ease-in-out;
  transition: top 3s ease-in-out;
  padding-right: 10px; }

.aMatchView_teamPanel {
  width: 300px;
  float: right;
  overflow: hidden; }

.aMatchView_teamPanel_finished {
  color: gray; }

.aMatchView_teamPanel_inProgress {
  color: orange; }

.aMatchView_teamPanel_upcoming {
  color: #c9c9c9; }

.aMatchView_infoPanel {
  width: 100px;
  float: left; }

.aMatchView_infoPanel_finished {
  color: gray; }

.aMatchView_infoPanel_inProgress {
  color: orange; }

.fieldManager {
  position: fixed;
  top: 94px;
  right: 20px;
  z-index: 5; }

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg); }

  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg); }

  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
.rotating {
  animation: rotating 20s linear infinite;
  -ms-animation: rotating 20s linear infinite;
  -moz-animation: rotating 20s linear infinite;
  -webkit-animation: rotating 20s linear infinite; }


.popupBracketBird{
    background-color: white;
    border: 2px solid #73BCD4;

    border-radius: 0px 0px 5px 5px;
    padding: 20px;
}


.textInput{
    font-size: 14px;
    height: 18px;
    margin: 0 auto 0 10px;
    padding: 2px;
    vertical-align: middle;
    width: 100px;
}

.integerInput{
    text-align: right;
    width: 50px;
}

.popUpHeader{
    font-size: 28px;
    padding-bottom: 40px;
}

.settingsValue{
    white-space: nowrap;
}

.settingsValue:focus{
    border: 1px solid #3B9EBF;
}

.noneEditableValue{
   font-size: 16px;
   text-align:left;
   opacity: 0.7;
}

.settingsLabel{
}

.settingsPanelButton{
    margin-left:10px;
}

.labelValueRow{
    height: 30px;
}

.glass{
  background-color: #9A9999;
  opacity: 0.5;
}

.errorPanel{
   background: rgb(176,0,0);
   padding: 8px;
   color:white;
   font-size: 14px;
   margin-bottom: 20px;
}

.error_label{
    color: rgb(176,0,0);
}

.error_value{
    border-color: rgb(176,0,0);
}

.settingsIntegerInput{
    width: 50px;
    text-align: right;
}

.matchesPage{
    padding-top: 38px;
}

.matchRow{
    height: 30px;

}

.matchRow_no{
    min-width: 40px;
    width: 40px;
    font-size: 10px;
    opacity:0.5;
}

.matchRow_sep{
    min-width: 20px;
    width: 20px;
}

.matchRow_team{
    min-width: 200px;
    width: 200px;

}

.matchRow_result{
    border: none;
    width:150px;
    min-width: 150px;
}

.matchRow_result::-moz-placeholder{
    color: #3B9EBF;
    font-style: normal;
    opacity:1.0;
}

.matchRow_result::-webkit-input-placeholder{
    color: #3B9EBF;
    font-style: normal;
    opacity:1.0;
}

.matchRow_result:-ms-input-placeholder{
    color: #3B9EBF;
    font-style: normal;
    opacity:1.0;
}


.matchRow_field{
    border:1px solid black;
    width:150px;
    min-width: 150px;
}

.levelMatchesHeader{
    padding-bottom: 10px;
}

.levelMatchesHeader_label{
    opacity:0.5;
}

.matches_emptyLine{
    height: 15px;
}




