@font-face {
  font-family: "klavika";
  src: url("font/Klavika-Light.otf"); }
.text_basic, .text_label, .text_title {
  font-family: "klavika";
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25;
  color: #97fb97; }

.text_label {
  font-size: 12px; }

.text_title {
  font-size: 28px; }

@font-face {
  font-family: "klavika";
  src: url("font/Klavika-Light.otf"); }
.text_basic, .text_label, .text_title {
  font-family: "klavika";
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25;
  color: #97fb97; }

.text_label {
  font-size: 12px; }

.text_title {
  font-size: 28px; }

html, body {
  height: 100%; }

.gwt-SuggestBoxPopup {
  width: 380px;
  padding-left: 0px;
  padding-right: 0px;
  background: #ffb200;
  color: white;
  border-bottom: solid 1px #466c3a;
  border-top: solid 1px #466c3a;
  border-left: solid 1px #466c3a;
  border-right: solid 1px #466c3a; }

.gwt-SuggestBoxPopup .item {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 2px 0px 2px 0px;
  background-color: #ffb200;
  color: #466c3a; }

.gwt-SuggestBoxPopup .item-selected {
  font-size: 28px; }

.gwt-SuggestBoxPopup .suggestPopupTopLeft {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupTopCenter {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupTopCenterInner {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupTopRight {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupMiddleLeftInner {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupMiddleCenter {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupMiddleCenterInner {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupMiddleRightInner {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupBottomCenterInner {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupBottomRight {
  border: none;
  background: none; }

.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  border: none;
  background: none; }

.dialogVPanel {
  margin: 5px; }

.imageFront {
  vertical-align: bottom; }

.searchPopup {
  border-left: solid blue 2px; }

.subpage {
  height: 100%;
  -moz-box-shadow: 4px 4px 5px #d2d8d5;
  -webkit-box-shadow: 4px 4px 5px #d2d8d5;
  box-shadow: 4px 4px 5px #d2d8d5; }

.shadow {
  -moz-box-shadow: 4px 4px 5px #d2d8d5;
  -webkit-box-shadow: 4px 4px 5px #d2d8d5;
  box-shadow: 4px 4px 5px #d2d8d5; }

.shadowreset {
  -moz-box-shadow: 0px 0px 0px; }

.overlay {
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 0px; }

.gwt-Button {
  white-space: nowrap;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: solid 1px #b7b7b7;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
  background: -moz-linear-gradient(top, white, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#ededed'); }

.gwt-Button:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(gainsboro));
  background: -moz-linear-gradient(top, white, gainsboro);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#dcdcdc'); }

.gwt-Button:active {
  color: #999999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(white));
  background: -moz-linear-gradient(top, #ededed, white); }

.colorbutton, .colorbutton:link {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(center top, #1d9cd3, #29abe2) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#1d9cd3), to(#29abe2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#1D9CD3', endColorstr = '#29ABE2');
  color: #151515;
  display: inline-block;
  font-size: 22px;
  padding: 10px;
  border: 1px solid black; }

.colorbutton:hover, .colorbutton:visited {
  background: none repeat scroll 0 0 #29abe2;
  color: white;
  cursor: pointer; }

.colorbuttonhelp, .colorbuttonhelp:link {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(center top, #29abe2, #29abe2) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#29abe2), to(#29abe2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#29ABE2', endColorstr = '#29ABE2');
  color: #151515;
  display: inline-block;
  font-size: 22px;
  padding: 10px;
  border: 1px solid black; }

.colorbuttonhelp:hover, .colorbuttonhelp:visited {
  background: none repeat scroll 0 0 #29abe2;
  color: white;
  cursor: pointer; }

.colorbutton2, .colorbutton2:link {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(center top, #29abe2, #29abe2) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#29abe2), to(#29abe2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#29ABE2', endColorstr = '#29ABE2');
  color: white;
  display: inline-block;
  font-size: 22px;
  padding: 15px;
  font-weight: bold;
  text-decoration: underline;
  border: 2px solid black; }

.colorbutton2:hover, .colorbutton2:visited {
  background: none repeat scroll 0 0 #29abe2;
  color: white;
  cursor: pointer; }

.buttoncell {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: black 0 1px 0;
  -moz-box-shadow: black 0 1px 0;
  box-shadow: black 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: klavika;
  text-decoration: none;
  vertical-align: middle; }

.buttoncell:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #cccccc; }

.buttoncell:active {
  border-top-color: #1b435e;
  background: #1b435e; }

.floatleft {
  float: left; }

.colorbutton3, .colorbutton3:link {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(center top, #3B9EBF, #3B9EBF) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#3B9EBF), to(#3B9EBF));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#3B9EBF', endColorstr = '#3B9EBF');
  color: white;
  display: inline-block;
  font-size: 24px;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 6px;
  font-family: klavika;
  border: 1px solid #358EAC; }

.colorbutton3:hover, .colorbutton3:visited {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }

.colorbutton4, .colorbutton4:link {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(center top, #29abe2, #1d9cd3) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#29abe2), to(#1d9cd3));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#29ABE2', endColorstr = '#1D9CD3');
  color: #1f1f1f;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  font-family: klavika;
  border: 1px solid #1a8cbc;
  white-space: nowrap; }

.colorbutton4:hover, .colorbutton4:visited {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #146a90; }

.lineShadow {
  -webkit-box-shadow: 0 8px 16px -6px black;
  -moz-box-shadow: 0 8px 16px -6px black;
  box-shadow: 0 8px 16px -6px black; }

.shadowFrontPage {
  -moz-box-shadow: 5px 5px 5px #cccccc;
  -webkit-box-shadow: 5px 5px 5px #cccccc;
  box-shadow: 5px 5px 5px #cccccc; }

.sloganPage {
  border-top: 1px solid #f2f2f2;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(white));
  background: -webkit-linear-gradient(top, #fafafa, white);
  background: -moz-linear-gradient(top, #fafafa, white);
  background: -ms-linear-gradient(top, #fafafa, white);
  background: -o-linear-gradient(top, #fafafa, white); }

.topPanel {
  height: 75px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e8e8e8), to(#dbdbdb));
  background: -webkit-linear-gradient(top, #e8e8e8, #dbdbdb);
  background: -moz-linear-gradient(top, #e8e8e8, #dbdbdb);
  background: -ms-linear-gradient(top, #e8e8e8, #dbdbdb);
  background: -o-linear-gradient(top, #e8e8e8, #dbdbdb);
  border-bottom: 1px solid #c8c8c8; }

.matchView {
  position: relative;
  margin: 20px;
  width: 240px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3d3d3d), to(#333333));
  background: -webkit-linear-gradient(top, #3d3d3d, #333333);
  background: -moz-linear-gradient(top, #3d3d3d, #333333);
  background: -ms-linear-gradient(top, #3d3d3d, #333333);
  background: -o-linear-gradient(top, #3d3d3d, #333333);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18); }

.groupTable {
  margin: 20px;
  border: 1px solid #4d4d4d;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18); }

.groupHeaderRow {
  border: 1px solid #c1c1c1;
  color: white;
  background-color: black; }

.groupTitleRow {
  width: 100%;
  color: #29abe2;
  background-color: black; }

.triangle-right {
  border-color: transparent transparent transparent #29abe2;
  border-style: solid;
  border-width: 20px;
  height: 0;
  width: 0;
  margin-left: 5px;
  margin-right: -15px; }

.bottomImage {
  overflow: hidden;
  position: fixed;
  right: 60px;
  bottom: 0px;
  z-index: 100000;
  background-image: url("img/logoSmall.png");
  height: 24px;
  width: 105px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

.viewTeamsPanel_teams {
  width: 100%; }

.viewTeamsPanel_team {
  padding: 2px 0px 2px 0px;
  margin: 0px 20px 0px 40px; }

.share_url {
  -moz-box-shadow: inset 1px 0px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 0px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 0px 0px 0px rgba(0, 0, 0, 0.2); }

.bookmarkAdvice {
  overflow: hidden;
  position: fixed;
  left: 20px;
  bottom: 0px;
  z-index: -1;
  background-color: white; }

.startImage {
  cursor: pointer;
  width: 128px;
  height: 128px;
  position: fixed;
  padding-left: 40px;
  padding-top: 40px; }

.startLabel {
  opacity: 1;
  cursor: pointer; }

.resultContainer {
  top: 0px;
  right: 0px;
  text-align: right;
  background-color: yellow;
  position: relative; }

.fieldBanner {
  font-family: klavika;
  height: 14px;
  overflow: hidden;
  position: absolute;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  top: -12px;
  left: 170px;
  text-align: center;
  z-index: 130;
  background-color: orange; }

.notFinishedMathesTopLine {
  position: fixed;
  top: 0;
  right: 0px;
  height: 1px;
  width: 404px;
  border-top: 1px solid gray;
  color: #979797;
  font-family: klavika, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.25;
  -webkit-transition: top 3s ease-in-out;
  -moz-transition: top 3s ease-in-out;
  -o-transition: top 3s ease-in-out;
  transition: top 3s ease-in-out; }

.matchesPlayedPanel {
  position: fixed;
  top: 0;
  padding-top: 15px;
  padding-left: 4px;
  right: 0px;
  width: 414px;
  z-index: 1000000;
  background-color: black;
  font-family: klavika, Arial, Helvetica, sans-serif;
  font-size: 38px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.25;
  color: white;
  border-bottom: 1px solid #333333; }

.aMatchView {
  position: fixed;
  top: 0;
  right: 0px;
  height: 40px;
  width: 400px;
  white-space: nowrap;
  color: #979797;
  font-family: klavika, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.25;
  -webkit-transition: top 3s ease-in-out;
  -moz-transition: top 3s ease-in-out;
  -o-transition: top 3s ease-in-out;
  transition: top 3s ease-in-out;
  padding-right: 10px; }

.aMatchView_teamPanel {
  width: 300px;
  float: right;
  overflow: hidden; }

.aMatchView_teamPanel_finished {
  color: gray; }

.aMatchView_teamPanel_inProgress {
  color: orange; }

.aMatchView_teamPanel_upcoming {
  color: #c9c9c9; }

.aMatchView_infoPanel {
  width: 100px;
  float: left; }

.aMatchView_infoPanel_finished {
  color: gray; }

.aMatchView_infoPanel_inProgress {
  color: orange; }

.fieldManager {
  position: fixed;
  top: 94px;
  right: 20px;
  z-index: 5; }

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg); }

  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg); }

  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
.rotating {
  animation: rotating 20s linear infinite;
  -ms-animation: rotating 20s linear infinite;
  -moz-animation: rotating 20s linear infinite;
  -webkit-animation: rotating 20s linear infinite; }
