.teamsPage {
    padding-top: 50px;
    padding-bottom: 0;
}



.teamsPage_teamsRow {
    width: 320px;
    top: 0;
    left: 0;
    position: absolute;

    -webkit-transition: top 0.25s linear, left 0.25s linear;
    -moz-transition: top 0.25s linear, left 0.25s linear;
    transition: top 0.25s linear, left 0.25s linear;
}

.teamsPage_teamsRow_seeding {
    border: none;
    font-size: 10px;
    width: 20px;
    opacity: 0.5;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.teamsPage_teamsRow_seeding:hover {
    /*cursor:pointer;
    color: #3B9EBF;
    opacity: 1;
    */
}

.teamsPage_teamsRow_seedingFocus {
    color: #3B9EBF;
    opacity: 1;
}

.teamsPage_teamsRow_focusIndicator {
    position: absolute;
    left: -15px;
    top: 8px;
    height: 6px;
    width: 6px;
    background-color: lightblue;
    border-radius: 3px;
}

.teamsPage_teamsRow_deleteIcon {
    font-size: 10px;
    cursor: pointer;
    opacity: 0.5;
}


.teamsPage_teamsRow_deleteIconHolder {
    width: 20px;
}

.teamsPage_teamsRow_deleteIconHolder:hover {
    color: #3B9EBF;
    cursor: pointer;
}

.teamsPage_teamsRow_team {
    border: none;
    font-size: 16px;

    flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
}

.teamsPage_enterTeam {
    top: 0;
    left: 0;

    -webkit-transition: top 0.25s linear, left 0.25s linear;
    -moz-transition: top 0.25s linear, left 0.25s linear;
    transition: top 0.25s linear, left 0.25s linear;

    position: absolute;
    padding-left: 40px;
    width: 320px;
    height: 40px;
}

.teamsPage_enterTeam input {
    border: none;
    font-size: 16px;
    width: 200px;
    margin-left: -2px;
}

.teamsPage_addTeamButton {
    z-index: 10;
    margin-left: 20px;
}
