.scoresPage {
    padding-top: 50px;
}

.groupScoresTable{
    width: 278px;
    position: relative;
    float: left;
    border: 2px solid #009688;
    border-radius: 3px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.groupScoresExceedingLine{
    border-bottom: 1px solid rgba(0, 150, 136, 1);
}

.groupScoresMaybeExceedingLine {
    border-bottom: 1px dashed rgba(0, 150, 136, 1);

}

.groupScoresHeaderRow {
    font-size: 10px;
    width: 272px;
    height: 30px;
    color: white;
    font-size: 10px;
    font-weight: bold;

    background-color: #009688;
    padding-left: 6px;

    top: 0;
    left: 0;
    position: absolute;

}


.groupScoreHeaderRow_groupName {
    width: 170px;
    padding-top: 10px;
}

.groupScoreHeaderRow_playedMatches {
    width: 30px;
    text-align: right;
}

.groupScoreHeaderRow_points {
    width: 30px;
    text-align: right;
}

.groupScoreHeaderRow_score {
    color: white;
    width: 30px;
    text-align: right;
}


.groupScoresRow {
    width: 272px;
    height: 30px;
    padding-left: 6px;
    padding-top: 2px;

    top: 0;
    left: 0;
    position: absolute;

    -webkit-transition: top 1.0s linear, left 0.25s linear;
    -moz-transition: top 1.0s linear, left 0.25s linear;
    transition: top 1.0s linear, left 0.25s linear;
}

.groupScoreRow_team {
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.groupScoreRow_matches {
    opacity: 0.5;
    text-align: right;
    width: 30px;

}

.groupScoreRow_score {
    opacity: 0.5;
    text-align: right;
    width: 30px;

}

.groupScoreRow_points {
    text-align: right;
    width: 30px;

}

.groupScoreRow_position {
    font-size: 10px;
    opacity: 0.5;
    width: 40px;
    position: absolute;
    left: -50px;
    top: 12px;
    text-align: right;
}

.groupScoreRow_move{
    z-index: 10;
}
